<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Dashboard</h1>
<h2>Welcome, <span th:text="${username}">user</span>!</h2>
<p>You are authorized to access this page.</p>

<p>Today's date: <strong th:text="${today}">DD-MM-YYYY</strong></p>

<!-- Show current balance -->
<p>Your account balance: <strong th:text="${#numbers.formatDecimal(account, 1, 2)}">0.00</strong></p>

<p>Your current interest is: <strong th:text="${interest}">0.00%</strong></p>

<p>Your current pending interest payment is: <strong th:text="${#numbers.formatDecimal(pending, 1, 2)}">0.00</strong></p>

<!-- Add funds form -->
<form th:action="@{/account/add}" method="post">
    <input type="number" name="amount" step="0.01" required />
    <button type="submit">Add Funds</button>
</form>

<!-- Withdraw funds form -->
<form th:action="@{/account/withdraw}" method="post" style="margin-top: 10px;">
    <input type="number" name="amount" step="0.01" required />
    <button type="submit">Withdraw Funds</button>
</form>
<p></p>
<h3>Recent Transaction</h3>
<table>
    <thead>
    <tr>
        <th>User...............</th>
        <th>Amount.........</th>
        <th>Source.........</th>
        <th>Timestamp......</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="alloc : ${allocations}">
        <td th:text="${alloc.user.name}">User Name</td>
        <td th:text="${alloc.amount}">1000.00</td>
        <td th:text="${alloc.source}">deposit</td>
        <td th:text="${#temporals.format(alloc.timestamp, 'yyyy-MM-dd HH:mm')}">2025-07-23</td>
    </tr>
    </tbody>
</table>
<p></p>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>